.container {
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size:4.5rem;
  text-align: center;
  position: fixed;
}

